<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secrets</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div>
        <div>
            <h1>Random Secret</h1>
            <h2>Secret Content</h2>
            <p><%= content %></p>
            <p>Shared by: <%= username %></p>
            <p>Refresh the page to see a new secret.</p>
        </div>
    </div>
</body>
</html>
